In [80]:
# Importing necessary libraries
from pycaret.classification import load_model, predict_model
import pandas as pd

# Step 1: Load the PyCaret Model from .pkl file
model = load_model('classification_model')

# Step 2: Define sample data
# Replace this sample data with your actual data
sample_data = pd.DataFrame({
    'departure_airport_code': ['LAX'],
    'destination_airport_code': ['LAS'],
    'Detected_Country': ['Australia'],
    'days_until_departure': 300
})

# Step 3: Make Predictions
predictions = predict_model(model, data=sample_data)

# Display the predictions
print(predictions)

Transformation Pipeline and Model Successfully Loaded

  departure_airport_code destination_airport_code Detected_Country  \
0                    LAX                      LAS        Australia

   days_until_departure prediction_label  prediction_score
0                   300         Shqipëri            0.5953

In [6]:
df = pd.read_csv('../data/6.model_data/full_data.csv')

In [7]:
df.Mode_Cheapest_Location_Journey.value_counts()

Mode_Cheapest_Location_Journey
No Significant Difference Found    14384
Polska                              3177
Shqipëri                            2570
Ukraine                              933
Indonesia                            875
Türkiye                              701
日本                                   510
Russia                               210
Brasil                               182
Deutschland                          121
Lebanon                               82
United Kingdom                        67
Spain                                 51
Australia                             39
বাংলাদেশ                               3
Name: count, dtype: int64

In [8]:
df.Mode_Cheapest_Location_JourneyID.value_counts()

Mode_Cheapest_Location_JourneyID
No Significant Difference Found    13907
Polska                              3099
Shqipëri                            2544
Indonesia                           1259
日本                                   666
Türkiye                              615
Ukraine                              567
Brasil                               288
Russia                               210
Australia                            202
Lebanon                              183
United Kingdom                       132
বাংলাদেশ                              81
Deutschland                           65
Spain                                 54
Morocco                               21
Palestine                             12
Name: count, dtype: int64

In [11]:
mask = df.Mode_Cheapest_Location_Journey != "No Significant Difference Found"

In [13]:
masked_df = df[mask]

In [14]:
masked_df.head()

,Unnamed: 0,airline_code,departure_airport_code,destination_airport_code,ticket_price,departure_date,arrival_date,First_flight,first_flight_code,last_flight_code,...,Mode_Cheapest_Location_JourneyID,mean_savings_for_JourneyID_in_Detected_Country,trimmed_mean_savings_for_JourneyID_in_Detected_Country,log_mean_savings_for_JourneyID_in_Detected_Country,mean_savings_for_Journey_route_in_Detected_Country,trimmed_mean_savings_for_Journey_route_in_Detected_Country,log_mean_savings_for_Journey_route_in_Detected_Country,median_savings_for_Journey_route_country,median_savings_for_JourneyID_country,normalized_mean_savings
0,0,AA,CLT,CUN,383,2024-06-26 07:15:00,2024-06-26 09:10:00,CLT-CUN,AA881,AA881,...,Shqipëri,4.006011,4.006011,1.610639,4.008192,4.013118,1.612058,4.016916,4.024225,4.011464
1,1,AA,CLT,CUN,6464034,2024-06-26 07:15:00,2024-06-26 09:10:00,CLT-CUN,AA881,AA881,...,Shqipëri,4.111472,4.111472,1.631487,4.111395,4.111411,1.631475,4.111577,4.111681,4.111525
2,2,AA,CLT,CUN,12863,2024-06-26 07:15:00,2024-06-26 09:10:00,CLT-CUN,AA881,AA881,...,Shqipëri,3.586726,3.586726,1.523166,3.586338,3.586565,1.523131,3.586972,3.587679,3.586849
3,3,AA,CLT,CUN,364,2024-06-26 07:15:00,2024-06-26 09:10:00,CLT-CUN,AA881,AA881,...,Shqipëri,4.516763,4.516763,1.707791,4.517712,4.512552,1.707028,4.502381,4.486697,4.509572
4,4,AA,CLT,CUN,328,2024-06-26 07:15:00,2024-06-26 09:10:00,CLT-CUN,AA881,AA881,...,Shqipëri,3.902242,3.902242,1.589693,3.894831,3.899023,1.589036,3.886889,3.902175,3.894565

In [4]:
from pycaret.classification import *

In [68]:
df_train = pd.read_csv("../data/6.model_data/train_data.csv")

In [69]:
classification_target = 'Mode_Cheapest_Location_Journey'
classification_columns_to_keep = ['departure_airport_code', 'destination_airport_code', 'Detected_Country','days_until_departure',classification_target]
df_classification = df_train.loc[:, classification_columns_to_keep]

In [70]:
clf1 = setup(data = df_classification, target = 'Mode_Cheapest_Location_Journey')

In [71]:
best_model = compare_models()

In [72]:
et_model = create_model("et",fold = 20, **hyperparams)

In [14]:
tuned_model = tune_model(best_model, n_iter= 200)

Fitting 10 folds for each of 200 candidates, totalling 2000 fits

In [15]:
df_test = pd.read_csv("../data/6.model_data/test_data.csv")

In [73]:
predictions = predict_model(et_model, data=df_test)

In [16]:
predictions = predict_model(et_model, data=df_test)

In [17]:
predictions = predict_model(tuned_model, data=df_test)

In [18]:
predictions = predict_model(best_model, data=df_test)

In [20]:
predictions = predict_model(et_model, data=df_test)

In [22]:
ridge_model = create_model("ridge",fold = 20)

In [29]:
tuned_ridge_model = tune_model(ridge_model, n_iter= 100)

Fitting 10 folds for each of 100 candidates, totalling 1000 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [24]:
predictions = predict_model(ridge_model, data=df_test)

In [62]:
hyperparams = {
    "n_estimators": 250,
    "max_depth": 7,
    "min_samples_split": 10,
    "min_samples_leaf": 4,
    "max_features": "sqrt",  
    "bootstrap": False,
    "max_leaf_nodes": None  
}

In [74]:
hyperparams = {
    "n_estimators": 250,
    "max_depth": 5,
    "min_samples_split": 10,
    "min_samples_leaf": 4,
    "max_features": "sqrt",  
    "bootstrap": False,
    "max_leaf_nodes": None  
}

In [63]:
et_model_capped = create_model("et",fold = 10,**hyperparams)

In [65]:
predictions = predict_model(et_model_capped, data=df_test)

In [49]:
predictions = predict_model(et_model_capped, data=df_test)

In [43]:
predictions = predict_model(et_model_capped, data=df_test)

In [46]:
predictions = predict_model(et_model_capped, data=df_test)